.InstrctorCard {
  /* border: solid black; */
  max-width: fit-content;
  min-width: 400px;
  background-color: white;
  color: black;
  padding: 2rem;
  /* animation: scrollCards1 10s linear infinite; */
}

@keyframes scrollCards1 {
  0% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.InstrctorCard1 {
  display: flex;
  align-items: center;
  gap: 2rem;

}

.InstructorCardPic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.logoDiv {
  display: flex;
  gap: 1rem;
  width: fit-content;
  /* border: solid black; */
}

/* scrolling the List*/
.scrollInstructorList {
  display: flex;
  gap: 0rem;
  width: 1300px;
  /* border: solid black;   */
  margin-left: 5.5rem;
  overflow: hidden;
  overflow-x: scroll;

}

.scrollInstructorList::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar */
}