.courseInstructor {
    width: 341px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    /* border: solid black; */
}

.finanace {
    /* border: solid black; */
    margin-right: 8rem;
    width: 50%;
    height: 180px; 
    display: flex; 
    gap: 1rem;
}

.finanaceBox {
    width: 153.29px;
    height: 143.95px;
    margin-top: 1rem;
    background: #FFFFFF;
    
    box-shadow: 5.21094px 5.21094px 31.2656px 5.21094px rgba(0, 0, 0, 0.08);
    border-radius: 15.6328px;

} 
.finanaceBox:hover{
    border: 2.60547px solid #A55C18;
} 
.next:hover{
    cursor: pointer; 
}