*{
  margin: 0;
  padding: 0; 
  font-family: "Gentium Book Plus", serif;
} 
button{
  cursor: pointer;  
  background: #674818;
  box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.16); 
  border: none;
} 
button:hover{
  background-color: #ca8929;
}
a{
  cursor: pointer; 
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background:white;
  color: white;
}

h1 {
  font-weight: 900;
  font-size: 500%;
  text-align: center;
  margin-top: 4rem;
  color: #fff;
  line-height: 1.2;
}

h1 span {
  padding: 5px 15px;
  background: #2ec2b0;
}
input:hover{
  border: none;
}

/* .gentium-book-plus-regular {
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  font-style: normal;
}

.gentium-book-plus-bold {
  font-family: "Gentium Book Plus", serif;
  font-weight: 700;
  font-style: normal;
}

.gentium-book-plus-regular-italic {
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  font-style: italic;
}

.gentium-book-plus-bold-italic {
  font-family: "Gentium Book Plus", serif;
  font-weight: 700;
  font-style: italic;
} */


/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

